<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
		<add  name="Test" connectionString="Data Source=suwet_phr2\SQL2014;Initial Catalog = RMX_Lite_3_4; Persist Security Info=True;User ID = sa; Password=1234qwer"/>
	</connectionStrings>
</configuration>